.post-container {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 0 16px #0000000f;
    margin-bottom: 12px;
}

.pd-l-r-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.btn {
    min-width: 12.4rem;
    height: 3.4rem;
    text-decoration: none;
    border: none;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    padding: 0 1.2rem;
    outline: none;
    cursor: pointer;
    color: var(--base-text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn--primary {
    color: var(--white-color);
    background-color: #377DFF !important;
}


/*responsive */

.grid {
    width: 1900px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}


/* .grid__column */

.grid__column-2 {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    width: 26rem;
}

.grid__column-6 {
    padding-top: 2.5rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    width: 120rem;
    background-color: #F9FAFB;
    border-radius: 1.5rem;
    box-shadow: 3px 7px 10px 2px #a7a2a22c;
}

.grid__column-4 {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    width: 45rem;
}