$primary-font : 'Roboto',
sans-serif;
$primary-color : #4d5d78;
$white-color: #fff;
$black-color: #000;
$black-color: #333;
$base-text-color: #8690A2;
$base-theme-color: #F9FAFB;
$blue-color: #377DFF;